@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #1A1A1A;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.play-button {
  @apply flex items-center justify-center w-8 h-8 rounded bg-gradient-to-tr from-neutral-400 to-neutral-200 transition-all hover:opacity-75;
}
